*{padding: 0; margin : 0; }

/*XID*/


@font-face {
	font-family: fail;
	src: url('../font/fail.ttf');
}


header
{
	width: 800px;
	height: 200px;
	margin : auto;

}

header img
{
	background-image: url("../img/banniere.jpg");
	background-repeat:no-repeat;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	box-shadow: 0 0 5px;
}

nav
{
	background-color: #000000;
	margin: -12px 0;
	box-shadow: 0 0 5px;
}

nav li 
{
    display: inline;
    margin: 10px 20px;
}

nav a
{
	text-decoration: none;
	font-family: fail;
	color: #ffedae;
	font-size: 35px;
}

body
{
	background-image: url("../img/background.png");
	background-repeat:repeat-x;
	background-color: #e0b3ff;
	width: 800px;
	margin: auto;
}

.opac
{
	background: rgba(255,255,255,0.5);
	padding: 25px 0;
}

.anecdote
{
	width: 600px;
	margin: 20px auto;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 5px;
}

.anecdote p
{
	padding: 10px 20px;
}

/* Bruno test template base de données */

section
{
	background: rgba(255,255,255,0.5);
	padding: 20px;
	border-radius: 20px;
}

article
{
	width: 800px;
	margin: auto;
	border-radius: 5px;
	background: white;
	padding: 10px 20px;
	margin-top: 10px;
	box-shadow: 0 0 5px;
}

