Options +FollowSymlinks -Indexes

# Gestion des erreurs
ErrorDocument 401 /index.php?page=error&n=401
ErrorDocument 403 /index.php?page=error&n=403
ErrorDocument 404 /index.php?page=error&n=404
ErrorDocument 410 /index.php?page=error&n=410
ErrorDocument 500 /index.php?page=error&n=500
